<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>My Hero Peter Griffin</title>
</head>
<body>
    <header>
        <div>
            <img class="logo" src="images/family-guy-logo.png" alt="family-guy-logo" width="340" height="80">
        </div>
        <div class="nav-container">
            <nav><a href="/home">HOME</a></nav>
            <nav><a href="/about">About</a></nav>
            <nav><a href="/works">Works</a></nav>
            <nav><a href="/gallery">Gallery</a></nav>
        </div>
    </header>
    
    <section class="section-container">
        <h1 class="headline">HERO GALLERY</h1>

        <div class="div-container">
            <div>
                <img class="peter-img" src="images/peter-1.jpg" alt="hero-img" width="" height="">
                <img class="peter-img" src="images/peter-2.jpg" alt="hero-img" width="" height="">
                <img class="peter-img" src="images/peter-3.jpg" alt="hero-img" width="" height="">
            </div>

            <div>
                <img class="peter-img" src="images/peter-4.jpg" alt="hero-img" width="" height="">
                <img class="peter-img" src="images/peter-5.jpg" alt="hero-img" width="" height="">
                <img class="peter-img" src="images/peter-6.jpg" alt="hero-img" width="" height="">
            </div>
            
            
        </div>
    </section>
</body>
</html>