<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>My Hero Peter Griffin</title>
</head>
<body>
    <header>
        <div>
            <img class="logo" src="images/family-guy-logo.png" alt="family-guy-logo" width="300" height="60">
        </div>
        <div class="nav-container">
            <nav><a href="/home">HOME</a></nav>
            <nav><a href="/about">About</a></nav>
            <nav><a href="/works">Works</a></nav>
            <nav><a href="/gallery">Gallery</a></nav>
        </div>
    </header>
    
    <section class="section-container">
        <h1 class="headline">MY HERO PETER GRIFFIN AT HIS WORK</h1>

        <div class="div-container">
            <video class="video" controls>
                <source src="images/Best of Peter Compilation - Family Guy.mp4" type="video/mp4">
              </video>
        </div>
    </section>
</body>
</html>